:root {
  --mc: #008850;
  --bl: #dddddd;
}

body .container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.Wrap {
  min-width: 1900px;
  overflow-x: hidden;
}

.Header .top {
  line-height: 40px;
  font-size: 11px;
  border-top: 2px solid var(--mc);
  border-bottom: 2px solid var(--bl);
}

.Header .top ul > li {
  border-right: 1px solid var(--bl);
}
.Header .top ul > li a {
  display: block;
  padding: 0 10px;
}

.Header .top ul {
  display: flex;
}

.Header .container {
  justify-content: space-between;
}

.Header .bottom {
  line-height: 100px;
}

.Header .Gnb ul {
  display: flex;
  gap: 40px;
  font-size: 18px;
  font-weight: 500;
}

.Header .Gnb li::before {
  content: "";
  position: absolute;
}
